<div class="row">
  <div class="small-2 large-6 columns">
<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mr, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :mr, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Vogue, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :vg, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Trumpet, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :tp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Womenachiever, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :wa, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :couns, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :couns, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
</div>
</div>
