<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mr, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mr, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vg, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vg, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wa, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wa, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :couns, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :couns, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
