

<div class= "row">
<br>
<section class="small-10 small-centered columns">
<!--<div class= "panel">--!>
 
<div id="app-content">
    <h2 class="page-header">Vogue </h2>
       <% @posts.each do |post| %>
        <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2"><a href="#" data-reveal-id="<%= post.title%>" class = "btn btn-link"><%= post.title %></a></div>  
        <div class="col-md-6"><%= post.content %></div>  
        <% if current_admin.has_role? :admin%>
        <div class="col-md-1"><%= link_to 'Show', post %></div>
        
        <div class="col-md-1"><%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
       <%end%>
      </div><hr>
       <%end%>
<br>
<br>

<% if current_admin.has_role? :admin%>
<%= link_to 'New Post', new_post_path , :class => 'btn btn-mini btn-success' %>
<% end %>
<!--</div>--!>
</section>
</div>
