<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!-- Custom CSS -->
   

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

   <link rel="stylesheet" type="text/css" href="/css/demo.2.css" >
   <link rel="stylesheet" type="text/css" href="/css/style2.css" >
     <!--   <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script>
    

     HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
     <%= render '/layouts/bg'%>
     <div class="container">
     <header>
        <div class="col-md-2"> <img src="/images/a1c.png"></div>
        <div class="brand">Aakriti</div>
        <div class="address-bar">College of Engineering, Guindy</div>
        
    </header> 
        <%= render '/home/nav'%>
    </div>


    <div class= "row">
        <div class="large-12 columns " data-equalizer-watch>

            <div id="app-content">
                <h2 class="page-header" align="center">Women Achievres</h2>
                <% @posts.each do |post| %>
                <div class="row">
                <div class="col-md-2"><a class="link" href="#" data-reveal-id="<%= post.title%>" class = "btn btn-link"><%= post.title %></a></div>  
                <div class="col-md-7"><%= post.content %></div>  
        <!--        <%# if current_admin.has_role? :admin%>
        <div class="col-md-1"><%= link_to 'Show', post %></div>
        
           -->  <div class="col-md-1"><%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <%#end%>
                </div>
                <%end%>
                <br>
                <br>
            </div>
        </div>


        <div class="container">
        <div class="large-12 columns " data-equalizer-watch>
           
                
                <ul class="portfolio-filter">
                    <li><a class="btn btn-primary active" href="" data-filter="*">All</a></li> 
                    <li><a class="btn btn-primary" href="" data-filter=".india">India</a></li>
                    <li><a class="btn btn-primary" href="" data-filter=".foreign">Foreign</a></li>
                   
                </ul><!--/#portfolio-filter-->
                <ul class="portfolio-items col-4">
                   <li class="portfolio-item foreign">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/oprah.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="“Passion is energy. Feel the power that comes from focusing on what excites you.”" href="/images/wa/screen1.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>Oprah Winfrey</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item india">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/chinnapillai1.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="SELFLESS AND UNTIRING SERVICE FOR THE POOR WOMEN!!" href="/images/wa/screen2.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>Mrs.Chinna Pillai</h5>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item india">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="/images/wa/AIR_COMMODORE_PADMAVATHY_BANDOPADHYAYA.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" title="Flying  High  with the Air Force!!!!" href="/images/wa/screen3.png"><i class="icon-eye-open"></i>View</a>             
                                </div>
                            </div>
                            <h5>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h5>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    
                   
                   </ul>   
         </div>
        </div><!--/.container-->
        
        <div id="OprahWinfrey" class="reveal-modal" data-reveal>
            <h2>AIR COMMODORE PADMAVATHY BANDOPADHYAYA</h2>
            <p>Coming from a conservative Tamilian family, educated in Tamil, when she joined the AFMC, Bandopadhyaya thought she had been paradropped into a whole new world. </p>
            <p>Suddenly she was with people who ate with forks and knives, spoke in English and sang English songs. She could only eat using her fingers, spoke little Hindi or English, and knew no English songs. Today, Bandopadhyaya prattles in Bengali as well - a language she picked up after marrying a Bengali Air Force officer. </p>

            <p>Trained in Carnatic classical vocal music ("like all south Indian children", she insists), Bandopadhyaya is fond of listening to music and likes mythology as well.</p>
            <p>After 32 years in the Air Force, is at 55, the first woman Air Commodore in the Air Force. And that is just one of the firsts in a long string of achievements to her credit. She was the first Indian woman officer to have conducted research in the Arctic region. And she was the first woman to be made a fellow of the Aerospace Medical Society of India. </p>
            <a  onclick="history.go(-0);return true;" class="close-reveal-modal">&#215;</a>
        </div>


        <% if current_admin.has_role? :admin%>
        <p >
            <%#= link_to 'New Post', new_post_path , :class => 'btn btn-medium btn-success' %>
        </p>
        <% end %>
</div>

<%= render '/layouts/footer'%>
   
    <script src="/assets/javascripts/jquery-1.11.0.js"></script>
     <script src="/js/bootstrap.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/assets/javascripts/jquery.js"></script>
     <script src="/assets/javascripts/bootstrap.min.js"></script>
     <script src="/assets/javascripts/jquery.isotope.min.js"></script>
     <script src="/assets/javascripts/jquery.prettyPhoto.js"></script>
     <script src="/assets/javascripts/main.js"></script>
     
     <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
