<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    <%= content_for?(:title) ? yield(:title) : " Aakriti" %></title>

    <%= stylesheet_link_tag    "application"  %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/images/fav1.ico">
    <!--Background
    <link rel="stylesheet" type="text/css" href="/css/demo.2.css">
    <link rel="stylesheet" type="text/css" href="/css/style2.css" > -->
    <!--   <script type="text/javascript" src="/js/modernizr.custom.86080.js"></script> -->
    <!--Prettyphoto-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">	 
    <!--Circular-->
     <link rel="stylesheet" type="text/css" href="/css/vogue/demo.css" >
     <link rel="stylesheet" type="text/css" href="/css/vogue/style.css" >
     <link rel="stylesheet" type="text/css" href="/css/vogue/jquery.jscrollpane.css" media="all" >
	 
    </head>

  <body>
   <%= render '/layouts/bg'%>
   <%= yield %>
    
   <%= javascript_include_tag "application" %>
  </body>
</html>
